<div class="card card-body text-center">          <h2 class="text-center"><i class="fa fa-tachometer"></i> Dashboard 
</h2><hr/>
<div class="">Hello <%= user.name%>!</div>
<hr/>
<div class="row">
<div class="col-sm-6 mb-2"><a href="?edit" class="btn btn-info btn-block">Edit  Profile</a></div>
<div class="col-sm-6"><a href="/logout" class="btn btn-primary btn-block">Logout</a></div>
</div>
<% if(edit === ""){ %>
<h2 class="text-center mt-4">Update Info</h2>
<%if(typeof errors != 'undefined'){%>         <%errors.forEach((error)=>{%>                 <div class="alert alert-warning alert-dismissible fade show" role="alert">            <button type="button" class="close" data-dismiss="alert" aria-label="Close">              <span aria-hidden="true">&times;</span>   </button>                                   <%=error.msg%>                            </div>                                                                                    <%})%>                                    <%}%>

<%if(success_msg!=""){%>                            <div class="alert alert-success alert-dismissible fade show" role="alert">            <button type="button" class="close" data-dismiss="alert" aria-label="Close">              <span aria-hidden="true">&times;</span>   </button>                                   <%=success_msg%>                            </div>                                <%}%>

<%if(error_msg!=""){%>                            <div class="alert alert-warning alert-dismissible fade show" role="alert">            <button type="button" class="close" data-dismiss="alert" aria-label="Close">              <span aria-hidden="true">&times;</span>   </button>                                   <%=error_msg%>                            </div>                                <%}%>

<form action="/dashboard?edit" method="POST">                                                   <div class="form-group">                      <label for="name">Name</label>
          <input                                        type="name"                                 id="name"                                   name="name"                                 class="form-control"                        placeholder="Enter Name"                    value="<%=  typeof name != 'undefined' ? name :  user.name %>"                                 />                                        </div>
<div class="form-group">                      <label for="email">Email</label>
          <input
            type="text" disabled
            id="email"       
	    name="email"
	    class="form-control"
            placeholder="Enter Email"
            value="<%= user.email%>"
          />
        </div>
        <div class="form-group">                      <label for="password">New Password</label>
          <input                                        type="password"                             id="password"                               name="password"                             class="form-control"                        placeholder="Create New Password"           value="<%=  typeof password != 'undefined' ? password : "" %>"
	  />                                 
	    </div>                                      <div class="form-group">
	<div class="form-group">                      <label for="password2">Confirm Password</label>                                         <input                                        type="password"                             id="password2"                              name="password2"                            class="form-control"
            placeholder="Confirm Password" 
	    value="<%=  typeof password2 != 'undefined' ? password2 : "" %>"
	    />                                        </div>
	<div class="row">
	<div class="col-sm-6 mb-2">
        <button type="submit" class="btn btn-primary btn-block">                                  Update
        </button></div>
	<div class="col-sm-6 mb-2">                      <a href="/dashboard" class="btn btn-secondary btn-block">
          Back
        </a></div>
	</div>
      </form>
<% }%>
</div>
